@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    display: grid;
    place-items: center;
    color: white;
    font-family: "Signika", cursive;
  }
  .loadercontainer{
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    background-color: rgba(198, 211, 236, 0.358);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 5vh 5vw;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
    display: block;
  }
  .container {
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    background-color: rgba(198, 211, 236, 0.358);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 5vh 5vw;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
  }
  
  h1 {
    font-family: 'Black Ops One', cursive;
    font-size: 3rem;
    text-align: center;
  text-shadow: 0 0 3px #ffffff, 0 0 5px #000000; 
  color: white ;
  margin-bottom: 0;
  
}
.logo >p{
     font-family: "Bebas Neue", sans-serif;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
  }
  
  button {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Signika", cursive;
  }
  
  button:hover {
    background-color: #4a4949;
  }


  #gradient-canvas {
    position: fixed;
    min-height: 100vh;
    z-index: -1;
    --gradient-color-1: #4a4949;
    --gradient-color-2: #65e22f;
    --gradient-color-3: #1a1b1a;
    --gradient-color-4: #000000;
  }


  #temp{
    position: absolute;
    top: 3%;
  }

  

  /* body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #212121;
  }
   */
  .wrapper {
    width: fit-content;
    height: fit-content;
  }
  
  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    animation: rot 16s linear infinite;
    width: fit-content;
  }
  @keyframes rot {
    100% {
      transform: rotate(360deg);
    }
  }
  
  li {
    width: 25px;
    height: 25px;
    background: #65e22f;
    border-radius: 4px;
    box-shadow: 0 0 1px #fff, 0 0 5px #65e22f, 0 0 10px #65e22f, 0 0 15px #65e22f, 0 0 25px #65e22f, 0 0 55px #65e22f;
    animation: scale 0.8s linear alternate infinite;
  }
  @keyframes scale {
    100% {
      transform: scale(0.1);
      opacity: 0;
    }
  }
  li:nth-child(1) {
    z-index: 24;
  }
  li:nth-child(2) {
    z-index: 23;
  }
  li:nth-child(3) {
    z-index: 22;
  }
  li:nth-child(4) {
    z-index: 21;
  }
  li:nth-child(5) {
    z-index: 20;
  }
  li:nth-child(6) {
    z-index: 19;
  }
  li:nth-child(7) {
    z-index: 18;
  }
  li:nth-child(8) {
    z-index: 17;
  }
  li:nth-child(9) {
    z-index: 16;
  }
  li:nth-child(10) {
    z-index: 15;
  }
  li:nth-child(11) {
    z-index: 14;
  }
  li:nth-child(12) {
    z-index: 13;
  }
  li:nth-child(13) {
    z-index: 12;
  }
  li:nth-child(14) {
    z-index: 11;
  }
  li:nth-child(15) {
    z-index: 10;
  }
  li:nth-child(16) {
    z-index: 9;
  }
  li:nth-child(17) {
    z-index: 8;
  }
  li:nth-child(18) {
    z-index: 7;
  }
  li:nth-child(19) {
    z-index: 6;
  }
  li:nth-child(20) {
    z-index: 5;
  }
  li:nth-child(21) {
    z-index: 4;
  }
  li:nth-child(22) {
    z-index: 3;
  }
  li:nth-child(23) {
    z-index: 2;
  }
  li:nth-child(24) {
    z-index: 1;
  }
  li:nth-child(25) {
    z-index: 0;
  }
  li:nth-child(1) {
    animation-delay: 0.1s;
  }
  li:nth-child(7) {
    animation-delay: 0.3s;
  }
  li:nth-child(13) {
    animation-delay: 0.5s;
  }
  li:nth-child(19) {
    animation-delay: 0.7s;
  }
  li:nth-child(24) {
    animation-delay: 0.9s;
  }
  li:nth-child(2) {
    animation-delay: 0.2s;
  }
  li:nth-child(8) {
    animation-delay: 0.4s;
  }
  li:nth-child(14) {
    animation-delay: 0.6s;
  }
  li:nth-child(20) {
    animation-delay: 0.8s;
  }
  li:nth-child(3) {
    animation-delay: 0.3s;
  }
  li:nth-child(9) {
    animation-delay: 0.5s;
  }
  li:nth-child(15) {
    animation-delay: 0.7s;
  }
  li:nth-child(4) {
    animation-delay: 0.4s;
  }
  li:nth-child(10) {
    animation-delay: 0.6s;
  }
  li:nth-child(5) {
    animation-delay: 0.5s;
  }
  li:nth-child(1) {
    animation-delay: 0.1s;
  }
  li:nth-child(6) {
    animation-delay: 0.2s;
  }
  li:nth-child(11) {
    animation-delay: 0.3s;
  }
  li:nth-child(16) {
    animation-delay: 0.4s;
  }
  li:nth-child(21) {
    animation-delay: 0.5s;
  }
  li:nth-child(7) {
    animation-delay: 0.3s;
  }
  li:nth-child(12) {
    animation-delay: 0.4s;
  }
  li:nth-child(17) {
    animation-delay: 0.5s;
  }
  li:nth-child(22) {
    animation-delay: 0.6s;
  }
  li:nth-child(13) {
    animation-delay: 0.5s;
  }
  li:nth-child(18) {
    animation-delay: 0.6s;
  }
  li:nth-child(23) {
    animation-delay: 0.7s;
  }
  li:nth-child(19) {
    animation-delay: 0.7s;
  }
  li:nth-child(24) {
    animation-delay: 0.8s;
  }
  li:nth-child(25) {
    animation-delay: 0.9s;
  }

  
